<%-include("adminlayout/header.ejs")%>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <%if(locals.orderDetail){%>
       
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID:#<%=orderDetail[0].oid%> </p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b><%=orderDetail[0].createdAt.toLocaleString()%></b>
                        </span> <br>
                        <small class="text-muted">Order ID: #<%=orderDetail[0].oid%></small>
                    </div>
                    
                        
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%=orderDetail[0].user[0].uname%><br><%=orderDetail[0].user[0].email%><br> <%=orderDetail[0].user[0].phone%>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: <%=orderDetail[0].paymentMethod%> <br> Status: <%=orderDetail[0].products.status%>
                                </p>
                                <!-- <a href="#">Download info</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: <%=orderDetail[0].address[0].city%>, <%=orderDetail[0].address[0].country%> <br><%=orderDetail[0].address[0].houseno%><br> <%=orderDetail[0].address[0].pincode%>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%">Current Status</th>
                                        <th width="20%" >Total</th>
                                        <th width="20%" class="text-end">view detail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <%locals.orderDetail.forEach((product)=>{%>
                                        <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    
                                                    <img src="/assets/<%=product.productsList[0].img[0]%>" width="200" height="200" class="img-xs" alt="Item">
                                                    

                                                </div>
                                                <div class="info"> <%=product.productsList[0].name%></div>
                                            </a>
                                        </td>
                                        <td><%=product.productsList[0].offerPrice > 0 ? product.productsList[0].offerPrice : product.productsList[0].salesprice %> </td>
                                        <td><%=product.products.qty%> </td>
                                        <td>
                                            <%if(product.products.status === 'pending'){%>
                                                <span class="badge rounded-pill alert-warning"><%=product.products.status%></span>

                                           <% } else if (product.products.status === 'canceled'){%>
                                            <span class="badge rounded-pill bg-danger"><%=product.products.status%></span>

                                           <%} else if(product.products.status === 'delivered'){%>
                                            <span class="badge rounded-pill bg-success"><%=product.products.status%></span>

                                           <%} else if(product.products.status === 'paymentSuccess'){%>
                                            <span class="badge rounded-pill badge-soft-success"><%=product.products.status%></span>
                                           <%} else if(product.products.status === "returned"){%>
                                            <span class="badge rounded-pill alert-danger"><%=product.products.status%></span>

                                           <%}else if(product.products.status === 'returnRequested'){%>
                                            <span class="badge rounded-pill bg-warning text-dark"><%=product.products.status%></span>
                                           <%} else if(product.products.status === 'returndeclined'){%>
                                            <span class="badge rounded-pill badge-soft-warning"><%=product.products.status%></span>

                                           <%} else {%>
                                            <span class="badge rounded-pill bg-primary"><%=product.products.status%></span>

                                            <%}%>
                                        </td>
                                        <td ><%=(product.productsList[0].offerPrice > 0 ? product.productsList[0].offerPrice : product.productsList[0].salesprice) * product.products.qty%> </td>
                                        <td class="text-end"><a href="/admin/order-changeStatus?oid=<%=product._id%>&pid=<%=product.products.productid%>">View Order</a> 
                                      <% if(product.products.status === 'returnRequested'){%>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" onclick="acceptReturn('<%=product._id%>','<%=product.products.productid%>','<%=product.userid%>')">Approve Return</a>
                                                <a class="dropdown-item" href="#" onclick="reject('<%=product._id%>','<%=product.products.productid%>')">reject return</a>
                                              
                                            </div>
                                        </div>
                                       <%}%>
                                           
                                        </td>
                                    </tr>
                                    <%})%>
                                    
                                    
                                    
                                    
                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd>Rs<%=orderDetail[0].totalprice%></dd>
                                                </dl>
                                                <!-- <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd></dd>
                                                </dl> -->
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h5">Rs<%=orderDetail[0].totalprice%></b> </dd>
                                                </dl>
                                                <!-- <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    <dd>
                                                        <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                    </dd>
                                                </dl> -->
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div> <!-- table-responsive// -->
                        <!-- <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a> -->
                    </div> <!-- col// -->
                    <!-- <div class="col-lg-1"></div> -->
                    <!-- <div class="col-lg-4"> -->
                        <!-- <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                Business name: Grand Market LLC <br>
                                Phone: +1 (800) 555-154-52
                            </p>
                        </div> -->
   <%}%>

                    
                        <!-- <div class="h-25 pt-4">
                            <div class="mb-3">
                                <label>Notes</label>
                                <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                            </div>
                            <button class="btn btn-primary">Save note</button>
                        </div> -->
                    <!-- </div> col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section>
    <script>
        async function acceptReturn(oid,pid,uid){
            const url=`/admin/accept-return?oid=${oid}&pid=${pid}&uid=${uid}`
            const res=await fetch(url)
            if(res.ok){
                window.location.reload()
            }
        }
        async function reject (oid,pid){
            const url=`/admin/reject-return?oid=${oid}&pid=${pid}`
            const res=await fetch(url)
            if(res.ok){
                window.location.reload()
            }
        }
    </script>
  
<%-include("adminlayout/footer.ejs")%>
