<%-include("adminlayout/header.ejs")%>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <tbody id="ordtableBody">
                           
                            
                             
                           
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <%if(locals.totalPage){%>
                        <%for(i=1;i<=totalPage;i++){%>
                            <li class="page-item active"><button class="page-link" id="btn<%=i%>" onclick="pagination('<%=i%>')"><%=i%></button></li>
                        <%}%>
                    <%}%>>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <script>
        


let orderBody=document.getElementById('ordtableBody')

window.onload=async function pagination(){
 
const pageurl=`/admin/defaultpaginationOrders?page=1`
const response = await fetch(pageurl)
const orderdata=await response.json()
console.log(orderdata)
 orderBody.innerHTML=''
orderdata.forEach(orderdata => {
    injectData(orderdata)
});



}

async function pagination(index){
  const pageurl=`/admin/paginationofOrders?page=${index}`
  const response = await fetch(pageurl)
  const orderdata=await response.json()
  console.log(orderdata)
 orderBody.innerHTML=''
  orderdata.forEach(orderdata => {
      injectData(orderdata)
  });
}



function injectData(orders){

  const row =document.createElement('tr')
  //checkbox
  
  
  const checkboxCell = document.createElement('td');
  checkboxCell.classList.add('text-center');
  const checkboxDiv = document.createElement('div');
  checkboxDiv.classList.add('form-check');
  const checkboxInput = document.createElement('input');
  checkboxInput.classList.add('form-check-input');
  checkboxInput.setAttribute('type', 'checkbox');
  checkboxInput.id = 'transactionCheck02';
  const checkboxLabel = document.createElement('label');
  checkboxLabel.classList.add('form-check-label');
  checkboxLabel.setAttribute('for', 'transactionCheck02');
  checkboxDiv.appendChild(checkboxInput);
  checkboxDiv.appendChild(checkboxLabel);
  checkboxCell.appendChild(checkboxDiv);
  row.appendChild(checkboxCell);
  
  // orderid cell
  const orderIdCell=document.createElement('td')
  const orderlink=document.createElement('a')
  orderlink.classList.add('fw-bold')
  orderlink.id='orderid'
  orderlink.innerHTML=orders.oid
  orderIdCell.appendChild(orderlink)
  row.appendChild(orderIdCell)
  
  // customername cell
  const customerNameCell=document.createElement('td')
  customerNameCell.textContent=orders.userdetails[0].uname
  row.appendChild(customerNameCell)
  
  // date cell
  const dateCell=document.createElement('td')
  dateCell.innerHTML=orders.createdAt
  row.appendChild(dateCell)
  
  // totalCell cell
  const totalCell=document.createElement('td')
  totalCell.innerHTML=orders.totalprice
  row.appendChild(totalCell)
  
  
  
  // payment status
  const paymentCell=document.createElement('td')
  const status=document.createElement('span')
  const orderStatus=orders.products.map((product)=>product.status) 
  if(orderStatus.every(status => status == 'canceled')){
    status.classList.add('badge', 'badge-pill', 'bg-danger')

    status.innerHTML='canceled'
  }
  else if(orderStatus.every(status =>status == 'delivered')){
    status.classList.add('badge', 'badge-pill', 'bg-success')

    status.innerHTML='delivered'
  }
  else if(orderStatus.every(status =>status =='paymentSuccess')){
    status.classList.add('badge', 'badge-pill', 'badge-soft-success')

    status.innerHTML='paymentSuccess'
  }
  else if(orderStatus.every(status => status =='returned')){
    status.classList.add('badge', 'badge-pill', 'alert-danger')

    status.innerHTML='returned'
  }
  else if(orderStatus.every(status => status =='returnRequested')){
    status.classList.add('badge', 'badge-pill', 'bg-warning','text-dark')

    status.innerHTML='returnRequested'

  }
  else if(orderStatus.every(status => status =='returndeclined')){
    status.classList.add('badge', 'badge-pill', 'badge-soft-warning')
    status.innerHTML='returndeclined'
  }
  else if(orderStatus.every(status => status =='pending')){
    status.classList.add('badge','badge-pill','alert-warning')
    status.innerHTML='pending'
  }
  else{
    status.classList.add('badge', 'badge-pill', 'bg-primary')
    status.innerHTML='processing'
  }
  
  paymentCell.appendChild(status)
  row.appendChild(paymentCell)
  // payment method
  
  const paymentMethodCell=document.createElement('td')
  paymentMethodCell.innerHTML=orders.paymentMethod
  
  row.appendChild(paymentMethodCell)
  // // button cell

const divEnd=document.createElement('div')
divEnd.classList.add('text-end')
const anchor = document.createElement('a');

anchor.setAttribute('href', '/admin/ordersummary?oid=' + orders._id);

anchor.setAttribute('class', 'btn btn-md rounded font-sm');


anchor.innerHTML = 'Detail';
// console.log("anchor",anchor)



divEnd.appendChild(anchor)

    row.appendChild(divEnd)

  
  orderBody.appendChild(row)
  
  }


    </script>
<%-include("adminlayout/footer.ejs")%>
