<%-include("userlayout/header.ejs")%>
<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Checkout</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
    <!--breadcrumbs area end-->
    
    <!--Checkout page section-->
    <div class="Checkout_section" id="accordion">
        <div class="container">
             <div class="row">
                <div class="col-12">
                     <div class="user-actions">
                         <h3> 
                             <i class="fa fa-file-o" aria-hidden="true"></i>
                             Returning customer?
                             <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login" aria-expanded="true">Click here to login</a>     
 
                         </h3>
                            <div id="checkout_login" class="collapse" data-parent="#accordion">
                                <div class="checkout_info">
                                    <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>  
                                 <form action="#">  
                                     <div class="form_group">
                                         <label>Username or email <span>*</span></label>
                                         <input type="text">     
                                     </div>
                                     <div class="form_group">
                                         <label>Password  <span>*</span></label>
                                         <input type="text">     
                                     </div> 
                                     <div class="form_group group_3 ">
                                         <button type="submit">Login</button>
                                         <label for="remember_box">
                                             <input id="remember_box" type="checkbox">
                                             <span> Remember me </span>
                                         </label>     
                                     </div>
                                     <a href="#">Lost your password?</a>
                                 </form>          
                             </div>
                         </div>    
                     </div>
                     <div class="user-actions">
                         <h3> 
                             <i class="fa fa-file-o" aria-hidden="true"></i>
                             Returning customer?
                             <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_coupon" aria-expanded="true">Click here to enter your code</a>     
 
                         </h3>
                          <div id="checkout_coupon" class="collapse" data-parent="#accordion">
                             <div class="checkout_info coupon_info">
                                 <form action="#">
                                     <input placeholder="Coupon code" type="text" id="couponcode">
                                     <button type="button" id="applycoupon" onclick="applyCoupon()">Apply coupon</button>
                                 </form>
                             </div>
                         </div>    
                     </div>    
                </div>
             </div>
             <div class="checkout_form">
                 <div class="row">
                     <div class="col-lg-6 col-md-6">
                         
                           
                       
                             <% if(userAddress.length > 0){%>
                              <%  userAddress.forEach((address,index)=>{%>
                                <div class="row">
                                    <div class="card w-75">
                                        <div class="card-body">
                                            <label class="radio-container"></label>
                                            <input type="radio" name="address" class="addressRadio" value="<%=address._id%>" <%if(index == 0){%> checked<%}%>>
                                            <span class="checkmark"></span>
                                            </label>
                                    
                                            <h5 class="card-title"><%= address.name %></h5>
                                            <span><strong><%= address.phone %></strong></span>
                                            <p class="card-text"><%= address.houseno %> <%= address.landmark %> <%= address.city %> <%= address.state %> <%= address.pincode %></p>

                                        </div>
                                        <p>
                                            <a href="/add-address?page=checkout">add addresss</a>
                                            <a href="/edit-address/?id=<%=address._id%>&page=checkout">edit addresss</a>

                                            
                                        </p>
                                    </div>
                                </div>
                         
                             <% })%>
                              
                                  <%} else {%>
                                    <h3>No Address Found</h3>
                                    <div class="noaddress">
                             <img src="/public/assets/img/icon/myaddresses-empty_3b40af.png" alt="">
                             
                             <p>Add a delivery Address</p>
                             <a href="/add-address?page=checkout"><button >Add Address</button></a>
                            </div>
                             <%}%>
                           	    
                             
                         
                     </div>
                     <div class="col-lg-6 col-md-6">
                         
                             <h3>Your order</h3> 
                             <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%let sum=0%>
                                        <%if(locals.productsInCart){%>
                                        <% productsInCart.forEach((cart)=>{%>
                                        <tr>
                                           <% if(cart.productid.offerPrice > 0){ %>
                                            <%sum=sum+(cart.productid.offerPrice*cart.qty)%>
                                                
                                            <%} else {%>
                                                <%sum=sum+(cart.productid.salesprice*cart.qty)%>

                                            <%}%>
                                            <td> <%=cart.productid.name%> <strong> × <%=cart.qty%></strong></td>
                                           <% if(cart.productid.offerPrice > 0){%>

                                            <td class="saleprice"> <%=cart.productid.offerPrice*cart.qty%></td>
                                                
                                           <% } else{%>
                                                <td class="saleprice"> <%=cart.productid.salesprice*cart.qty%></td>

                                            <%}%>
                                        </tr>

                                       <% })%>
                                       <% }%>
                                          
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            
                                            <td class="ordersum"><%=sum%></td>
                                        </tr>
                                        <tr>
                                            <th id="">Discount</th>
                                            <td><strong id="discount"></strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td ><strong class="ordersum" id="ordertotal"><%=sum%></strong></td>
                                            <input type="hidden" id="sum" value="<%=sum%>" name="sum">
                                        </tr>
                                    </tfoot>
                                </table>     
                            </div>
                            <div class="payment_method">
                             <% if ( sum > 1000 ) { %>
                                <div id="coddiv" class="panel-default">
                                    <input id="payment" name="check_method" type="radio" data-bs-target="createp_account" value="cod" class="payment" />
                                    <label for="payment" data-bs-toggle="collapse" data-bs-target="#method" aria-controls="method">COD</label>

                                    <div id="method" class="collapse one" data-parent="#accordion">
                                        <div class="card-body1">
                                           <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                        </div>
                                    </div>
                                </div> 
                            <%}%>
                    
                                   
                                  
                              
                                <div class="panel-default">
                                    <input id="payment_defult" name="check_method" type="radio" data-bs-target="createp_account" value="razorpay" class="payment"/>
                                    <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult" aria-controls="collapsedefult">Razorpay <img src="assets/img/icon/papyel.png" alt=""></label>
                                    
                                    <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                        <div class="card-body1">
                                           <p>Pay via Razorpay; you can pay with your credit card if you don’t have a PayPal account.</p> 
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel-default">
                                    <input id="payment_wallet" name="check_method" type="radio" data-bs-target="createp_account" value="wallet" class="payment"/>
                                    <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult" aria-controls="collapsedefult">Wallet </label>
                                    
                                    <div id="method" class="collapse one" data-parent="#accordion">
                                    <div class="card-body1">
                                       <p>Purchase through Wallet</p>
                                    </div>
                                </div>
                                </div>

                                <div class="order_button">
                                    <button type="button" onclick="paymentProceed(event)"  id="payment_button" >Proceed Payment</button> 
                                </div>    
                            </div> 
                        </form>         
                    </div>
                </div> 
            </div> 
        </div>       
    </div>
    
<!-- <script src="/public/assets/js/client js/checkoutValidation.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
   const addresstag=document.querySelectorAll(".addressRadio")
   let sum=document.getElementById("sum").value
   const paymentradio=document.querySelectorAll('.payment')
   
  console.log("going to enter function");
   
   
   async function paymentProceed(event){ 
    try{
console.log('entered')
        const stockValidate=await fetch(`/stockValidate`)
        const validate=await stockValidate.json()
      if(stockValidate.status == 400){
        await Swal.fire({icon:'warning',title:"product out of stock"})
        event.preventDefault()
      }
      else{
        console.log("hello enterd function")
    let  selectedpayment
    let  selectedaddress

    let radioIndex
    let addressIndex
    paymentradio.forEach((paymentMethod,index)=>{
    if(paymentMethod.checked == true){
        radioIndex =index
    }
    })

    addresstag.forEach((address,index)=>{
    if(address.checked == true){
        addressIndex =index
    }
    })



    if(radioIndex == undefined || addressIndex == undefined){
        await Swal.fire({icon:'warning',title:'Please select Both Method Option and Add Address to Proceed'})
        event.preventDefault()     
    }else{
        console.log('radioindex',radioIndex)
    selectedpayment = paymentradio[radioIndex].value 
      console.log(addresstag);
        address= addresstag[addressIndex].value
      let payment
   
    console.log("payment",selectedpayment)

    postdata={
        address:address,
        check_method:selectedpayment,
        sum:document.getElementById('sum').value,
        previousTotal:sum
    }
    console.log(postdata)
    url='/checkout'
  const res = await fetch(url,{method:'POST',headers:{
    'Content-Type': 'application/json',

  },body:JSON.stringify(postdata)})

const response=await res.json()

if(response.codSucess == "sucess"){
    window.location.href="/ordersuccess"
}
else if(response.walletsucess){
   await Swal.fire({icon:"success",title:response.walletsucess})

    window.location.href="/ordersuccess"
}

else if(response.walleterror){
    Swal.fire({icon:"error",title:response.walleterror})
}
else{

    generatePayment(response)
  
}

    }


      }

    
    }
    
    catch(error){
        console.log(error)
    }
   }
   function generatePayment(order){
    console.log("hi")
    var options = {
    "key": "rzp_test_aykCH4paLrlr2m", 
    "amount": order.amount,
    "currency": "INR",
    "name": "Genex clothing", 
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id":order.id , 
    "handler": function (response){
   
        paymentVerify(response,order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
    paymentVerify(response,order)
   })
rzp1.open();
   }
async function paymentVerify(payment,order){
    console.log("payment verified function ")
    url=`/verifyPayment`
  let postdata={
      payment:payment,
      order:order  
    }
const response= await fetch(url,{method:'POST',headers:{
    'Content-Type': 'application/json',

  },body:JSON.stringify(postdata)})


const data=await response.json()
if(response.status == 200){
    
    window.location.href ='/ordersuccess'
}
else{
    Swal.fire({icon:"error",title:data.error})
}
}
async function applyCoupon(){
    console.log('applycoupon');
    const code=  document.getElementById('couponcode').value
    console.log(code)
    const sum=document.getElementById('sum').value
    console.log(sum)
    console.log('before Checking')

    const url='/applyCoupon'
    const postdata={
        couponCode:code,
        totalamount:sum
    }

    const res=await fetch(url,{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(postdata)})
    const data= await res.json()
    const {reduction}=data
    console.log('rteduction',reduction)

    if(res.status === 200)
    {
        await Swal.fire({icon:'success',title:data.sucess})
      document.getElementById('discount').innerHTML=reduction
      const total=document.getElementById('ordertotal').innerHTML
      const parsedTotal=parseFloat(total)
      const totalAfterCoupon=parsedTotal-reduction
      console.log("totalAfterCoupon",totalAfterCoupon)
      
      document.querySelectorAll('.ordersum').forEach((orderTotal)=>{
        orderTotal.innerHTML=totalAfterCoupon 
      })
        document.getElementById('sum').value = totalAfterCoupon
        if(document.getElementById('sum').value <= 1000){
         document.getElementById('coddiv')? document.getElementById('coddiv').style.display="none": console.log('no div')
        } 
        else{
            document.getElementById('coddiv').style.display="block"

        }
    
        const removebtn=document.createElement('button')
        removebtn.innerHTML="Remove"
        removebtn.type="button"
        removebtn.onclick=removeCoupon
        removebtn.id="removebtn"
        document.getElementById('applycoupon').replaceWith(removebtn)
      


    }
    else if(res.status === 403){
        Swal.fire({icon:'error',title:data.err,text:data.msg})
    }
    else{
         Swal.fire({icon:'error',title:data.data}) 
    }
}


async function removeCoupon(){
    const url ='/removeCoupon'
    const response=await fetch(url)
    const data=await response.json()
    console.log(data)
    await Swal.fire({icon:'success',title:'Coupon Removed Successfully'})
    const removedCouponamount = parseFloat(document.getElementById('sum').value)+data
    console.log(removedCouponamount)
    document.getElementById('discount').innerHTML=0

     document.querySelectorAll('.ordersum').forEach((orderTotal)=>{
         orderTotal.innerHTML=removedCouponamount
     })
     document.getElementById('sum').value = removedCouponamount
     if(document.getElementById('sum').value > 1000){
         document.getElementById('coddiv').style.display="block"
  
     }
     else{
        if(document.getElementById('coddiv')){
            document.getElementById('coddiv').style.display="none"
        }
     }
     const couponbtn=document.createElement('button')
     couponbtn.innerHTML="Apply Coupon"
     couponbtn.type="button"
     couponbtn.onclick=applyCoupon
     couponbtn.id="applycoupon"
     document.getElementById('removebtn').replaceWith(couponbtn)
}

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%-include("userlayout/footer.ejs")%>
